
.vs/ThuVien/v16/Server/sqlite3/db.lock
.vs/ThuVien/v16/Server/sqlite3/storage.ide
.vs/ThuVien/v16/Server/sqlite3/storage.ide-shm
.vs/ThuVien/v16/Server/sqlite3/storage.ide-wal
ThuVien/obj/Debug/ThuVien.csprojAssemblyReference.cache
*.cache
